<p>
    CreationLabs įmonės darbo pokalbiui sukurtas puslapis.<br>
</p>
<h4>Užduotis:</h4>
<p>Reikia parašyti mini programėlę, kuri gali nuskaityti duomenys iš failo į asociatyvinį masyvą.<br>
Duomenys gali būti pateikti vienu iš šių formatu: CSV, XML, JSON.<br>
Programa turi būti parašyta taip, kad pridėjus naują (ar pašalinus esamą) failo formatą nereiktų nieko koreguoti esamame kode (išskyrus konfiguraciją).<br>
</p>
<h4>Metodiniai reikalavimai:</h4>
<ul>
    <li>Trečiųjų šalių frameworkų ir libų naudojimas draudžiamas.
    <li>Būtina naudoti kodo versijavimo sistemą (VCS), koda pateikti galima per Bitbucket, GitHub ar GitLab. Commitai turi tureti prasmingus komentarus.
    <li>Kodas turi būti rašomas laikantis PSR-1 ir PSR-2.
    <li>Būtina taikyti SOLID, nepamirštam DRY bei KISS.
    <li>Privaloma komentuoti kodą (minimum bent blokais) bei privaloma rašyti PHP Doc.
    <li>Visi php failai turi būti loadinami dinamiškai (naudojamas autoloaderis taikant PSR-4, composer naudoti negalima).
    <li>Programos konfiguraciją leidžiama saugoti bet kokiu budu (env, yaml, php,...).
    <li>Prieš darant rekomenduoju susipažinti su SOLID, DRY, KISS, MVC, Hexagonal (a.k.a. Ports and Adapters) architecture, Factory design patternų.
</ul>
