table
{
    border-collapse: collapse;
    margin-bottom: 1em;
}

table, th, td, caption
{
    background-color: white;
    border: 1px solid black;
}

footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

ul.menu {
	width:900px;
	font-family: sans-serif;
}

ul.menu li {
    display:inline-block;
	width:120px;
	border:1px solid #000;
}

ul.menu a {
    display:block;
	padding:3px;
    text-decoration:none;
    text-align: center;
	color:#009;
}

ul.menu a:hover {
	background-color:#73877B;
	color:#fff;
}

.active
{
    background-color: #F5E4D7;
}

.content
{
    display: block;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    background-color: aliceblue;
}

.contentHeader
{
    padding: 0.5em;
    font-size: large;
    margin-bottom: 2em;
    background-color: #E6EBE0;
    border: 1px black;
    border-style: solid none solid none;
}

form
{
    padding: 10px;
    border: 1px solid black;
    width: 30%;
    background-color: white;
}

form > *
{
    margin-top: 1em;
}

.message
{
    width: 300px;
    margin-bottom: 0.2em;
    border: 1px solid black;
    background-color: white;
}

.red
{
    background-color: red;
}

.green
{
    background-color: green;
}