<?php
    foreach($this->view_data as $file_name => $file_data){
        $i = 0;
        echo "<table><caption>".$file_name."</caption>";
        foreach($file_data as $column => $row){
            foreach($row as $key => $value){
                if($i == 0)
                {
                    echo "<tr>";
                }
                if($i < count($row)){
                    echo "<th>".$key."</th>";
                    $i++;
                } else {
                    if($i == count($row)){
                        echo "</tr>";
                    }
                    break;
                }
            }
            $j = 0;
            foreach($row as $key => $value){
                if($j==0){
                    echo "<tr>";
                } 
                echo "<td>".$value."</td>";
                if ($j == count($row)) {
                    echo "</tr>";    
                }
                $j++;
            }
        }
        echo "</table>";
    }
?>