<?php
    $action = $this->getAction();
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Creation_PHP_1</title>
    <link href=<?php echo URL."css/normalize.css"?> rel="stylesheet"/>
    <link href=<?php echo URL."css/style.css"?> rel="stylesheet"/>
</head>
<body>
    <nav>
        <ul class = "menu">
            <li <?php echo ($action == 'home/index' ? 'class=active' : ''); ?>>
                <a href="<?php echo URL;?>">home</a>
            </li>
            <li <?php echo ($action == 'uploadForm' ? 'class=active' : ''); ?>>
                <a href="<?php echo URL;?>uploadForm">forma</a>
            </li>
            <li <?php echo ($action == 'dataTables' ? 'class=active' : ''); ?>>
                <a href="<?php echo URL;?>dataTables">lentelės</a>
            </li>
        </ul>
    </nav>
<div class = "content">
    <div class = "contentHeader" >
        <?php 
            switch($action){
                case "home/index":
                    echo "Pagrindinis puslapis";
                break;
                case "uploadForm":
                    echo "Failų įkėlimo forma";
                break;
                case "dataTables":
                    echo "Failų išvesties lentelės";
                break;
            }
        ?>
    </div>