<div>
    <?php
        if($this->view_data!=null){
            $messages = [];
            parse_str($this->view_data,$messages);
            foreach($messages as $message){
                $color = explode(", ",$message)[0] === "Sorry"?"red":"green";
                echo '<div class="message '.$color.'">'.$message.'</div>';
            }
        }
    ?>
</div>
<form action=<?php echo URL."uploadForm/uploadFiles"?> method="POST" enctype="multipart/form-data">
Pasirinkite norimus failus<br>
<input type="file" name="fileToUpload[]" id="fileToUpload" multiple required><br>
<input type="submit" value="Upload Files" name="submit">
</form>